<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
index화면

{% if user.is_authenticated %}
<p>환영합니다 {{user.username}}님</p>
<form action="{%url 'logout'%}" method="POST">
    {%csrf_token%}
    <input type="submit" value="로그아웃">
</form>
{% else %}
<p>로그인 해주세요</p>
<a href="{%url 'signup'%}">회원가입</a>
<a href="{%url 'login'%}">로그인</a>
{% endif %}

<hr>
<hr>
{% if user.is_authenticated %}
<a href="{%url 'create' %}"><button>글쓰기</button></a>
{% else %}
{%endif%}
{% for p in posts %}
    <a href="{% url 'read' p.id %}"><p>글 제목 : {{p.title}}</p></a>
    <p>글 내용 : {{p.content}}</p>
    <p>글 작성시간 : {{p.created_at}}</p>
    <hr>
{%endfor%}